<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form #userForm="ngForm" (ngSubmit)="updateUser(userForm.value)">
      <div class="form-group">
        <label for="userName">Username (Readonly)</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          name="userName"
          [(ngModel)]="userSelected.userName"
          required
          readonly
        />
      </div>
      <div class="form-group">
        <label for="userFirstName">First Name</label>
        <input
          type="text"
          class="form-control"
          id="userFirstName"
          name="userFirstName"
          [(ngModel)]="userSelected.userFirstName"
          required
        />
      </div>
      <div class="form-group">
        <label for="userLastName">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="userLastName"
          name="userLastName"
          [(ngModel)]="userSelected.userLastName"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-outline-primary form-control rounded-0"
      >
        Update
      </button>
    </form>
  </div>
</div>
