<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <div class="checkout-container">
      <h1>Checkout</h1>
      <form
        #checkout="ngForm"
        class="checkout-form"
        (ngSubmit)="checkoutOrder(checkout)"
      >
        <div>
          <label for="username">Username</label>
          <input
            class="form-control mb-3"
            type="text"
            id="username"
            name="username"
            [(ngModel)]="formData.username"
            required
          />
        </div>
        <div>
          <label for="firstname">First Name</label>
          <input
            class="form-control mb-3"
            type="text"
            id="firstname"
            name="firstname"
            [(ngModel)]="formData.firstname"
            required
          />
        </div>
        <div>
          <label for="lastname">Last Name</label>
          <input
            class="form-control mb-3"
            type="text"
            id="lastname"
            name="lastname"
            [(ngModel)]="formData.lastname"
            required
          />
        </div>
        <button
          type="submit"
          class="btn btn-outline-primary form-control rounded-0"
        >
          Place Order
        </button>
      </form>
    </div>
  </div>
</div>
