<div class="detail-section">
  <div class="container-fluid">
    <img src="{{ product.imageUrl }}" class="detail-img" />

    <h3>{{ product.name }}</h3>
    <div class="price">MSRP: {{ product.unitPrice | currency : "USD" }}</div>
    <p><strong>Discount Rate:</strong> {{ product.discount | percent }}</p>
    <p><strong>Stock:</strong> {{ product.unitsInStock }}</p>
    <p><strong>Total Sold:</strong> {{ product.totalSold }}</p>
    <br />

    <button
      *ngIf="!isAdmin && product.unitsInStock > 0"
      (click)="addToCart()"
      class="btn btn-primary btn-sm"
    >
      Add to cart
    </button>

    <p *ngIf="product.unitsInStock == 0">OUT OF STOCK</p>

    <button
      *ngIf="isAdmin"
      [routerLink]="'/editProduct/' + product.id"
      class="btn btn-primary btn-sm"
    >
      Edit Product
    </button>
    &nbsp;&nbsp;
    <button
      *ngIf="isAdmin"
      class="btn btn-primary btn-sm"
      (click)="deleteProduct(product.id)"
    >
      Delete
    </button>

    <hr />
    <h4>Description</h4>
    <p>{{ product.description }}</p>

    <a routerLink="/products" class="mt-5">Back to Product List</a>
    <!-- <a routerLink="/editProduct/:id" class="mt-5">Edit Product</a> -->
  </div>
</div>
