<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <!-- loop over the collection of products -->
        <div *ngFor="let tempProduct of products" class="col-md-3">
          <div class="product-box">
            <img src="{{ tempProduct.imageUrl }}" class="detail-img" />
            <a routerLink="/products/{{ tempProduct.id }}">
              <h1>{{ tempProduct.name }}</h1>
            </a>

            <div class="price">
              MSRP: {{ tempProduct.unitPrice | currency : "USD" }}
            </div>
            &nbsp;
            <!-- <button *ngIf="isAdmin" class="btn btn-primary btn-sm">
              Delete
            </button> -->
            <p>
              <strong>Discount Rate:</strong>
              {{ tempProduct.discount | percent }}
            </p>
            &nbsp;
            <p><strong>Stock:</strong> {{ tempProduct.unitsInStock }}</p>
            &nbsp;
            <p><strong>Total Sold:</strong> {{ tempProduct.totalSold }}</p>
            <br />
            <button
              *ngIf="!isAdmin && tempProduct.unitsInStock > 0"
              (click)="addToCart(tempProduct)"
              class="btn btn-primary btn-sm"
            >
              Add to cart
            </button>
            <p *ngIf="tempProduct.unitsInStock == 0">OUT OF STOCK</p>
          </div>
        </div>

        <!-- if products empty then display a message-->
        <div
          *ngIf="products?.length == 0"
          class="alert alert-warning col-md-12"
          role="alert"
        >
          No products found.
        </div>
      </div>
    </div>
  </div>
  <div class="page-navigation" *ngIf="products?.length != 0">
    <button (click)="onPageChange(page.number - 1)">Previous</button>
    <span>Page {{ page.number + 1 }} of {{ page.totalPages }}</span>
    <button
      [disabled]="page.number === page.totalPages - 1"
      (click)="onPageChange(page.number + 1)"
    >
      Next
    </button>
  </div>
</div>
<br /><br /><br /><br />
