<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form (ngSubmit)="registerUser()">
      <input
        type="text"
        class="form-control mb-3"
        [(ngModel)]="user.userFirstName"
        placeholder="First Name"
      /><br />
      <input
        type="text"
        class="form-control mb-3"
        [(ngModel)]="user.userLastName"
        placeholder="Last Name"
      /><br />
      <input
        type="text"
        class="form-control mb-3"
        [(ngModel)]="user.userName"
        placeholder="Username"
      /><br />
      <input
        type="password"
        class="form-control mb-3"
        [(ngModel)]="user.userPassword"
        placeholder="Password"
      /><br />
      <button
        type="submit"
        class="btn btn-outline-primary form-control rounded-0"
      >
        Register
      </button>
    </form>
  </div>
</div>
