<div class="container mt-5">
  <div class="card" style="padding: 20px">
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="firstName">First Name:</label>
        <input
          class="form-control mb-3"
          type="text"
          id="firstName"
          name="firstName"
          ngModel
          required
        />
      </div>

      <div>
        <label for="lastName">Last Name:</label>
        <input
          class="form-control mb-3"
          type="text"
          id="lastName"
          name="lastName"
          ngModel
          required
        />
      </div>

      <div>
        <label for="username">Username:</label>
        <input
          class="form-control mb-3"
          type="text"
          id="username"
          name="username"
          ngModel
          required
        />
      </div>

      <div>
        <label for="password">Password:</label>
        <input
          class="form-control mb-3"
          type="password"
          id="password"
          name="password"
          ngModel
          required
        />
      </div>

      <input
        type="submit"
        value="Submit"
        class="btn btn-outline-primary form-control rounded-0"
      />
    </form>
  </div>
</div>
